<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond $1 !^(index\.php|resources|css|js|images|robots\.txt|favicon\.jpg)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 /error404.html
</IfModule>